[submodule "vim/vim_runtime"]
	path = vim/vim_runtime
	url = https://github.com/amix/vimrc
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "vim/vim_source/bundle/lightline.vim"]
	path = vim/vim_source/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/vim_source/bundle/fish.vim"]
	path = vim/vim_source/bundle/fish.vim
	url = https://github.com/dag/vim-fish
[submodule "vim/vim_source/bundle/commentary.vim"]
	path = vim/vim_source/bundle/commentary.vim
	url = https://github.com/tpope/vim-commentary
[submodule "vim/vim_source/bundle/nerdtree.vim"]
	path = vim/vim_source/bundle/nerdtree.vim
	url = https://github.com/scrooloose/nerdtree
